<!DOCTYPE html>
<html lang = "ar" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel='stylesheet' href='../static/css/style.css'>
  <title>Twitter</title>
  {% block head %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  <script src='../static/js/main.js'></script>
  <noscript>This browser does not support Javascript.</noscript>
</body>
</html>